* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

body {
	font-family: 'Open Sans', sans-serif;
	background-image: url(https://firebasestorage.googleapis.com/v0/b/cesar22.appspot.com/o/fondo-abstracto-blanco-brillo-dorado.jpg?alt=media&token=9d38832e-f808-4673-9036-24f071ed0ca2);
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contenedor {
	max-width: 90%;
	width: 400px;
	margin: 80px auto;
}

.formulario input[type='text'] {
	padding: 20px;
	border: none;
	background: none;
	width: 100%;
	border-radius: 5px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	font-size: 20px;
	margin-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
}

.formulario .btn {
	width: 100%;
	border: none;
	background: rgb(0, 0, 0);
	color: #fff;
	cursor: pointer;
	padding: 20px;
	font-size: 20px;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
}

.formulario .btn:hover {
	background: #3e14b2;
}

.contenedorQR {
	display: flex;
	justify-content: center;
	padding: 40px 0;
}